body{
    background-color: black;
    padding: 1rem;
    color: white;
    
}

h1{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 3rem;
}

section#itens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}


div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    box-shadoW:white 0px 10px 24px;
    padding: 1rem;
    margin: 2rem;
    height: 500px;
    width: 300px;;
        
}

/* div img{
    width: 200px;
    height: 150px;
    
} */

div button {
    border: 1px solid #19191a;
    background-color: #f9f9fa;
    color: #19191a;
    font-size: 1vw;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0%;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    cursor: pointer;  
    transition: 0.3s ease-in-out;
    }



