<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="itens.css">

    <title>Mercúrio</title>

</head>
<body>
    <h1>Catálogo</h1>
    <section id="itens">     
        
        <div id="mercurio">

            <h3>Mercúrio</h3>
            <img id="foto-mercurio" src="img/mercurio.jpg" widht=200px height=150px alt="Planeta Mercúrio">

            <ul><h5>
                
                <li>Temperatura média: 169,35°C </li>
                <li>Distância do Sol (km): 58.000.000</li>
                <li>Período de rotação: 59 dias</li>
                <li>Atmosfera predominante: hélio, sódio e oxigênio </li>
                <li>Satélite natural: não possui</li>
                <li>Período de translação: 88 dias</li>
                <li>Estrutura interna: telúrica, corpo rochoso</li>
                <li>Gravidade: 3,7 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 
               
        <div id="venus">
            <h3>Vênus</h3>
            <img id="foto-venus" src="img/vênus.jpg" width=150px;
            height=150px; alt="Planeta Vênus">
            <ul><h5>
                
                <li>Temperatura média: 470°C</li>
                <li>Distância do Sol (km): 108.000.000</li>
                <li>Período de rotação: 243 dias</li>
                <li>Atmosfera predominante: dióxido de carbono e vapores de ácido sulfúrico</li>
                <li>Satélite natural: não possui</li>
                <li>Período de translação: 224 dias</li>
                <li>Estrutura interna: telúrica, corpo ferroso</li>
                <li>Gravidade: 8,87 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
            
        </div>  
        
        <div id="terra">

            <h3>Terra</h3>
            <img id="foto-terra" src="img/terra.jpg" widht=180px height=180px alt="Planeta Terra">

            <ul><h5>
                <li>Temperatura média: 15°C</li>
                <li>Distância do Sol (km): 149.600.000</li>                
                <li>Período de rotação: 24 horas</li>
                <li>Atmosfera predominante: nitrogênio e oxigênio </li>
                <li>Satélite natural: 1 </li>
                <li>Período de translação: 365 dias</li>
                <li>Estrutura interna: telúrica, corpo rochoso</li>
                <li>Gravidade: 9,807 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 
              
        <div id="marte">

            <h3>Marte</h3>
            <img id="foto-marte" src="img/marte.jpg" widht=170px height=170px alt="Planeta Marte">

            <ul><h5>
                <li>Temperatura média: -63°C</li>
                <li>Distância do Sol (km): 205.000.000</li>                
                <li>Período de rotação: 24h 37min 22s</li>
                <li>Atmosfera predominante: dióxido de carbono</li>
                <li>Satélite natural: 2</li>
                <li>Período de translação: 687 dias</li>
                <li>Estrutura interna: telúrica, corpo rochoso</li>
                <li>Gravidade: 3,721 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 

        <div id="jupiter">

            <h3>Jupiter</h3>
            <img id="foto-jupiter" src="img/jupiter.png" widht=190px height=190px alt="Planeta Jupiter">

            <ul><h5>
                <li>Temperatura média: -121,1°C</li>
                <li>Distância do Sol (km): 778.330.000</li>                
                <li>Período de rotação: 10h</li>
                <li>Atmosfera predominante: hidrogênio e hélio</li>
                <li>Satélite natural: 70</li>
                <li>Período de translação: 4.380 dias</li>
                <li>Estrutura interna: joviana, corpo gasoso</li>
                <li>Gravidade: 22,9 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div>

        <div id="saturno">

            <h3>Saturno</h3>
            <img id="foto-saturno" src="img/saturno.jpeg" widht=220px height=190px alt="Planeta Saturno">

            <ul><h5>
                
                <li>Temperatura média: -138°C </li>
                <li>Distância do Sol (km): 1,4 bilhôes </li>
                <li>Período de rotação: 10h 30min</li>
                <li>Atmosfera predominante: hélio, hidrogênio </li>
                <li>Satélite natural: 82</li>
                <li>Período de translação: 29 anos, 167 dias e 6h terrestres</li>
                <li>Estrutura interna: joviana, corpo gasoso</li>
                <li>Gravidade: 10,44 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 

        <div id="urano">

            <h3>Urano</h3>
            <img id="foto-urano" src="img/urano.jpg" widht=200px height=150px alt="Planeta Urano">

            <ul><h5>
                
                <li>Temperatura média: -195°C </li>
                <li>Distância do Sol (km): 2.870.990.000 </li>
                <li>Período de rotação: 18h</li>
                <li>Atmosfera predominante: hélio, hidrogênio </li>
                <li>Satélite natural: 5</li>
                <li>Período de translação: 84 anos</li>
                <li>Estrutura interna: joviana, corpo gasoso</li>
                <li>Gravidade: 8,87 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 

        <div id="netuno">

            <h3>Netuno</h3>
            <img id="foto-netuno" src="img/netuno.png" widht=170px height=170px alt="Planeta Netuno">

            <ul><h5>
                
                <li>Temperatura média: -221°C </li>
                <li>Distância do Sol (km): 4,5 bilhões </li>
                <li>Período de rotação: 0d 16h 6m </li>
                <li>Atmosfera predominante: hidrogênio, hélio e metano </li>
                <li>Satélite natural: 13</li>
                <li>Período de translação: 164,79 anos</li>
                <li>Estrutura interna: núcleo rochoso coberto por uma crosta de gelo</li>
                <li>Gravidade: 11,15 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 

        <div id="plutão">

            <h3>Plutão</h3>
            <img id="foto-plutao" src="img/plutao.jpg" widht=170px height=170px alt="Planeta Plutão">

            <ul><h5>
                
                <li>Temperatura média: -230°C </li>
                <li>Distância do Sol (km): 5.913.520.000 </li>
                <li>Período de rotação: 6,39 dias</li>
                <li>Atmosfera predominante: gás nitrogênio </li>
                <li>Satélite natural: 5</li>
                <li>Período de translação: 248,59 anos</li>
                <li>Estrutura interna: núcleo rochoso coberto por uma crosta de gelo</li>
                <li>Gravidade: 0,62 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 


        <div id="biós">

            <h3>Biós</h3>
            <img id="foto-biós" src="img/biós.jpg" widht=190px height=190px alt="Planeta Biós">

            <ul><h5>
                
                <li>Temperatura média: -60°C </li>
                <li>Distância do Sol (km): 90 anos-luz </li>
                <li>Período de rotação: 10 dias/li>
                <li>Atmosfera predominante: hidrogênio e hélio </li>
                <li>Satélite natural: 1</li>
                <li>Período de translação: 24 dias</li>
                <li>Estrutura interna: gás e gelo</li>
                <li>Gravidade: 0,50 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 

        <div id="agnostos">

            <h3>Agnostos</h3>
            <img id="foto-agnostos" src="img/agnostos.jpg" widht=160px height=160px alt="Planeta Agnostos">

            <ul><h5>
                
                <li>Temperatura média: -200°C </li>
                <li>Distância do Sol (km): 80 anos-luz </li>
                <li>Período de rotação: 4 anos</li>
                <li>Atmosfera predominante: hidrogênio </li>
                <li>Satélite natural: não possui</li>
                <li>Período de translação: 8 anos</li>
                <li>Estrutura interna: rocha e água</li>
                <li>Gravidade: 7,20 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 

        <div id="máter">

            <h3>Máter</h3>
            <img id="foto-mater" src="img/mater.png" widht=180px height=180px alt="Planeta Máter">

            <ul><h5>
                
                <li>Temperatura média: -30°C </li>
                <li>Distância do Sol (km): 14 anos-luz </li>
                <li>Período de rotação: 15 dias</li>
                <li>Atmosfera predominante: oxigênio </li>
                <li>Satélite natural: 2</li>
                <li>Período de translação: 96h 15 min</li>
                <li>Estrutura interna: rocha e água</li>
                <li>Gravidade: 9 m/s²</li>
            </ul></h5>
            <button>Escolher</button>
        
        </div> 
    </section>

    

</body>
</html>