<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/sobre.css">
    <title>Sobre o projeto</title>
</head>
<body>
    <img src="../static/img/solar-system-14.gif">
    <div>
        <h1>Sobre o projeto</h1>
        Inicialmente criamos um jogo de ficção interativa utilizando orientação a objeto em Python, seu tema foi baseado no filme Interestellar. 
        <p>Ao concluirmos a primeira fase do projeto, decidimos que ele cresceria junto conosco, ele seria o balizador da nossa evolução como programadores.</p>

        <p>A segunda fase do projeto tem a finalidade de criar uma aplicação web em forma de catálogo, usando HTML, CSS, JavaScript, Flask e SQL.</p>

        Usamos o seguinte direcionamento para a construção da página:
        <ol>
            <li>Construimos todo layout com HTML e CSS, sem animações ou dados dinâmicos.</li>
            <li>Adicionamos validações de campos e animações com JavaScript.</li>
            <li>Implementamos a aplicação no escopo de um projeto Flask e criamos as rotas para  renderização das páginas HTML.</li>
            <li>Conectamos a aplicação ao banco de dados e criamos as rotas do CRUD.</li>
            <li>Fizemos o deploy da aplicação no Heroku.</li>
            <li>Usamos boas práticas de programação para criar um projeto limpo e escalável.</li>
        </ol>
       
        Cada página desta aplicação possui um objetivo:

        <ul>
            <li>Home: trás as boas vindas ao usuário e um breve resumo do tema e jogo propostos.</li>
            <li>Sobre: detalha a história e a motivação do projeto.</li>
            <li>Catálogo: mostra os cards de todos os planetas e suas características.</li>
            <li>Administrador: permite cadastrar, editar ou excluir os itens do catálogo. Esta página está "oculta" e representada por um ícone (engrenagem) dentro do catálogo.</li>
            <li>Desenvolvedores: conta um pouquinho da história do nosso time.</li>
        </ul>

        Na terceira fase desse projeto queremos implementar o jogo e aprimorá-lo com os novos aprendizados provenientes da especialização que faremos no terceiro módulo do curso.

        <p>Ficamos muito feliz com o resultado :) </p>
    </div>
    
</body>
</html>