@font-face {
    font-family: 'Saira Semi Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sairasemicondensed/v6/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXf_S_MRiXk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    font-family: 'Saira Semi Condensed';
}

/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #04073B, #35316B);
}

section {
  height: 100vh;
}

lottie-player {
  padding: 30px 0 0 0 ;
  margin: 0 0 0 0;
}

#home {
  /* background-color: #ddd; */
    background: linear-gradient(to right, #04073B, #35316B);
    color: hsl(105, 55%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h2 {
  padding: 0px 20px 0px 20px;
  }

#home h4 {
  padding: 0 20px 0px 20px;
  width: 70vw;  
}

#work {
  height: 600px;
  margin: 0;
  padding: 35px;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}  
main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 12;
  width: 95vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 8;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}
div.item:nth-of-type(6) {
  --offset: 6;
  background-color: #ff70a6;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

input:nth-of-type(6) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
  --position: 6;
}



/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg,#07094D, #27226B);
  background: linear-gradient(45deg,#07094D, #27226B); 
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: hsl(198, 63%, 38%);
}

a:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: hsl(198, 63%, 38%);
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active, a:visited.active, a:active.active {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg,#07094D, #27226B);
    background: linear-gradient(45deg,#07094D, #27226B);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 2em;
  }
}
.dev-itens { 
    padding: 1px;
    font-size: 18px;
    font-weight: bold;

}

.dev-itens a img {
    padding: 1em 0;
    margin: 0 auto;
    width: 10%;
}


#desenvolvs {
  /* background-color: #666; */
}

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

.photo{
  width: 200px;
  height: 300px;
}

.midia{
  width:50px ;
}

h3{
  color:#524cad
}

.container{
  justify-content: space-between;
  background-color: white;
  padding: 30px 30px 30px 20px;

}

.ast{
  width: 160px;
}

.astro{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

 .container-info{
  background-color: white; /* Altera a cor defundo*/
  padding: 100px 30px 30px 20px; /*CRia espaços em cima e embaixo no conteúdo*/
  /* display: flex; */

}

.info-devs{
  width: 250px; /*Ajusta o tamanho das imagens */
    float: left;
    align-content: space-between;
    padding: 10px 10px 10px 10px; /*CRia espaços em cima e embaixo no conteúdo*/
  }

.midiaw{
  width: 25px;
}

.midiab{
  width: 25px;
}

.ana{
  width: 100%;
  height: 300px;
  background-color: rgb(12, 13, 82);
  color:hsl(105, 55%, 96%)
}
.dara{
  width: 100%;
  height: 300px;
  background-color: white;
  color: rgb(12, 13, 82);
}
.lucas{
  width: 100%;
  height: 300px;
  background-color: rgb(12, 13, 82);
  color:hsl(105, 55%, 96%)
}
.marla{
  width: 100%;
  height: 300px;
  background-color: white;
  color: rgb(12, 13, 82);
}
.patrick{
  width: 100%;
  height: 300px;
  background-color: rgb(12, 13, 82);
  color:hsl(105, 55%, 96%)
}

.blue{
  padding-bottom: 10px;
}

.hblue{
  color: white
}