<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/adm.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Catálago| Adm</title>
</head>

<body>

    <!-- <article id="msg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </article> -->

    <aside id="left">

        <!-- Código copiado da documentação: https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/ -->
        

        <h1>Administração</h1>
        <ul>
            <a id="btn-criar"><li>
                <i class="fa fa-th-list" aria-hidden="true"></i>
                Inserir novo item</li>
            </a>  
            <a id="btn-listar"><li>
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                Listar planetas</li>
            </a> 
            <a href="/"><li>
                <i class="fa fa-home" aria-hidden="true"></i>
                Home</li>
            </a>
            <a href="/logout"><li>
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                Sair</li>
            </a> 
             
        </ul>
    </aside>
    
    <section id="body">

        <!-- {% if projetoEdit == undefined %} -->
        <article id="new">
            <form action='/new' method="POST">

                <h1>Cadastre um novo astro</h1>

                <label for="imagem">Imagem</label>
                <input type="text" placeholder="Link da imagem do Planeta" id="imagem" name="imagem">

                <label for="nome">Planeta</label>
                <input type="text" placeholder="Nome do Planeta" id="nome" name="nome">

                <label for="temperatura">Temperatura em °C</label>
                <input type="text" placeholder="Temperatura em °C" id="temperatura" name="temperatura">

                <label for="gravidade">Gravidade</label>
                <input type="text" placeholder="Gravidade" id="gravidade" name="gravidade">

                <label for="demais_informacoes">Demais informações</label>
                <textarea name="demais_informacoes" id="demais_informacoes" cols="30" rows="10"
                    placeholder="Digite mais informações do Planeta"></textarea>

                <button type="submit">Enviar</button>

            </form>
        </article>
        <!-- {% endif %} -->

        
        <article id="lista">
            <table>
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Imagem</th>
                            <th>Planeta</th>                            
                            <th>Temperatura</th>
                            <th>Gravidade</th>
                            <th>Editar / Apagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in projetos %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td>{{p.imagem}}</td>
                            <td>{{p.nome}}</td>                            
                            <td>{{p.temperatura}}</td>
                            <td>{{p.gravidade}}</td>
                            <td>
                                <a href="/edit/{{p.id}}">Editar</a>
                                <a href="/delete/{{p.id}}">Apagar</a>
                            </td>
                        </tr>
                        {% endfor %}                        
                    </tbody>
            </table>

        </article>

       {% if projetoEdit != undefined %}
        <article id="edit">
            <form action='/edit/{{projetoEdit.id}}' method="POST">

                <h1>Editar um astro</h1>

                <label for="imagem">Imagem</label>
                <input type="text" placeholder="Link da imagem do Planeta" id="imagem" name="imagem" value="{{ projetoEdit.imagem }}">

                <label for="nome">Planeta</label>
                <input type="text" placeholder="Nome do Planeta" id="nome" name="nome" value="{{ projetoEdit.nome }}">

                <label for="temperatura">Temperatura em °C</label>
                <input type="text" placeholder="Temperatura em °C" id="temperatura" name="temperatura" value="{{ projetoEdit.temperatura }}">

                <label for="gravidade">Gravidade</label>
                <input type="text" placeholder="Gravidade" id="gravidade" name="gravidade" value="{{ projetoEdit.gravidade }}">

                <label for="demais_informacoes">Demais informações</label>
                <textarea name="demais_informacoes" id="demais_informacoes" cols="30" rows="10"
                    placeholder="Digite mais informações do Planeta" value="{{ projetoEdit.demais_informacoes }}"></textarea>

                <div>
                    <a href="/adm">Cancelar</a>
                    <button type="submit">Atualizar</button>
                </div>                

            </form>
        </article>
        {% endif %}


    </section>

    <aside id="right">        
        
    </aside>

    <script src="/static/js/setup.js"></script>
    <script src="../static/js/adm.js"></script>
</body>

</html>