<!DOCTYPE html>
  <html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Catálogo - Entre as Estrelas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/stylelucs.css">
  <<!--
    <link rel="stylesheet" href="../static/css/style.css">
  --> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  </head>

  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Catálogo - Entre as Estrelas</a></h1></span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a href="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="/#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">Sobre</span></span></a>
        <a href="/#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Catálogo</span></span></a>
        <a href="/#devs" class="nav-link"><span class="nav-link-span"><span class="u-nav">Desenvolvedores</span></span></a>
        <a href="/adm" class="nav-link"><span class="nav-link-span"><span class="u-nav"><i class="fas fa-spin fa-cog"></i></span></span></a>

      </div>
    </nav>
  </header>

  <body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="/static/js/script.js"></script>

    <div class="container-info">

        <div class ="ana" id="anita">
            <img class="info-devs" src="../static/img/ana-maria.jpg"><h3 class="hblue"><br>Ana Maria</h3>
                <a href="https://www.linkedin.com/in/anita1981/"><img class="midiaw" src="../static/img/linkedim-w.png"></a>
                <a href="https://github.com/anamsilva1981/anamsilva1981"><img class="midiaw" src="../static/img/github.png"></a>    
                <p>Sou uma pessoa que gosta de trabalhar em equipe, gosta de contribuir,aprender e agregar, tanto para minha vida quanto ado próximo. Acredito que quando compartilhamos informação é quando realmente aprendemos.</p>
                <p>Estudante de Full Stack na BlueEdTech me vejo cada dia mais encantada e desafiada com as possibilidades, e veja todos os dias o meu sonho de virar uma programadora se concretizando. </p><br><br><br>  
        </div>      

        <div class="dara" id="dara">
            <img class="info-devs" src="../static/img/dara.jpg"><h3><br>Dara Fontoura da Silva</h3>
            <a href="https://www.linkedin.com/in/darafontoura/"><img class="midiab" src="../static/img/linkedim.png"></a>
            <a href="https://github.com/mdar4"><img class="midiab" src="../static/img/github-logo.png"></a>
            <p>Sou uma garota que ama tecnologia, obras de arte, livros e música. Conheci o mundo da programação no final de 2020 e desde então dedico os meus dias ao aprendizado. Sou apaixonada por Front-End desde que fiz minha primeira telinha.</p>
            <p> Atualmente, curso Tecnologia da Informação, com foco em Front-End na Blue EdTech e pretendo me tornar Front-end Engineer.</p><br>
        </div>

        <div class="lucas" id="lucas">
            <img class="info-devs" src="../static/img/lucas.jpg"><h3 class="hblue"><br>Lucas Soares Simão</h3>
                <a href="https://www.linkedin.com/in/lssimao/"><img class="midiaw" src="../static/img/linkedim-w.png"></a>
                <a href="https://github.com/lucasbanksys/"><img class="midiaw" src="../static/img/github.png"></a>
                <p> Fascinado desde muito pequeno pela tecnologia, sempre busquei entender sobre equipamentos eletrônicos. Sou formado no curso de Tecnologia em Automação Industrial, porém decidi seguir pela área de programação direcionada a web e me aprofundar o máximo possível dedicando meu tempo a projetos que pudessem me colocar no mercado de trabalho, mostrando o meu potencial nessa área.</p><br>
        </div>

        <div class="marla" id="marla">
            <img class="info-devs" src="../static/img/marla.jpg"><h3><br>Marla Roncoli Cabral</h3>
                <a href="https://www.linkedin.com/in/marla-cabral-031428124/"><img class="midiab" src="../static/img/linkedim.png"></a>
                <a href="https://github.com/marlacabral"><img class="midiab" src="../static/img/github-logo.png"></a>
                <p>Quando conheci o Marketing, um mundo de possibilidades se abriu para mim. Quando eu conheci a programação, tive certeza da infinitude que eu posso alcançar. Sou motivada pela liberdade e inovação, pela curiosidade e comunicação. A determinação me trouxe até aqui e hoje eu uso toda a minha experiência para desenvolver e "florear" todos os projetos que eu abraço. Sou Desenvolvedora Web e Mercadóloga, com experiência em metodologias de inovação e posicionamento. Especializada em resolução de problemas, soluções financeiras e UX. Amo o que faço e isso me faz olhar sempre para frente com vontade de crescer.</p><br>
        </div>
        
        <div class="patrick" id="patrick">
            <img class="info-devs" src="../static/img/wendeel.png"><h3 class="hblue"><br>Patrick Wendeel Ribeiro de Lima</h3>
                <a href="https://www.linkedin.com/in/wendeellima/"><img class="midiaw" src="../static/img/linkedim-w.png"></a>
                <a href="https://github.com/wendeel-lima"><img class="midiaw" src="../static/img/github.png"></a>    
                <p> Sou apaixonado pela familia que tenho e agradeço a Deus todos os dias por essa dádiva.</p><p>Logo formado Bacharel em administração com um boa experiencia em gestão empresarial, sempre fui interessado por tecnologia e a tempos tinha o sonho de estudar programação.</p>
                <Não>Hoje realizo um sonho antigo e espero me tornar um grande profissional na área de informática. Não podia deixar de registrar aqui o meu amor pela pesca exportiva.</p><br>
        </div>
    </div>


  </body>
  
 