<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Catálogo - Entre as Estrelas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/stylelucs.css">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Catálogo - Entre as Estrelas</a></h1></span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="#about" class="nav-link"><span class="nav-link-span"><span class="u-nav">Sobre</span></span></a>
        <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Edição</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Desenvolvedores</span></span></a>
      </div>
    </nav>
  </header>
  <main>
    <section id="home">
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ZQhQzO.json" background="transparent"  speed="1"  style="width: 400px; height: 400px;" loop autoplay></lottie-player>
        <h2>Bem-vindo ao catálogo de planetas Entre as Estrelas</h2>
        <h4>O Entre as Estrelas é um jogo baseado no filme Interstellar. O jogo-base foi desenvolvido em Python e segue a história de um piloto e também comandante da nave que deve explorar o espaço através de um buraco de minhoca em busca de um novo planeta habitável para continuar com a espécie humana.</h4>
    </section>
    <section id="about">

    </section>
    <section id="work">

    </section>
    <section id="contact">

    </section>
  </main>

</body>

</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
