<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Início</title>
</head>
<body>
    <header class="header-wrapper">
        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label for="toggle" class="checkbox">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu">
                        <nav class="menu-items">
                            <ul>
                                <li>
                                    <a href="#">Início</a>
                                </li>
                                <li>
                                    <a href="#">Catálogo</a>
                                </li>
                                <li>
                                    <a href="#">Contribua</a>
                                </li>
                                <li>
                                    <a href="#">Curiosidades</a>
                                </li>
                                <li>
                                    <a href="#">Sobre nós</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>