<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylelucs.css">
    <title>Desenvolvedores</title>
</head>
<body>
    <main class="dev">        
        <div class="dev-itens">
            <img class="dev-img" src="../static/img/dara.jpg" target="_blank" alt="Foto Dara Fontoura">
            <p>Dara Fontoura da Silva</p>
            <a href="https://www.linkedin.com/in/dara-fontoura-da-silva-98917b1a6/" target="_blank"><img src="../static/img/linkedim.png" alt="Linkedin"></a>
            <a href="https://github.com/mdar4"><img src="../static/img/GitHub.jpg" alt="GitHub"></a>
        </div>
        <div class="dev-itens">
            <img class="dev-img" src="../static/img/lucas.jpg" target="_blank" alt="Foto Lucas Soares">
            <p>Lucas Soares Simão</p>
            <a href="https://www.linkedin.com/in/lssimao/" target="_blank"><img src="../static/img/linkedim.png" alt="Linkedin"></a>
            <a href="https://github.com/lucasbanksys"><img src="../static/img/GitHub.jpg" alt="GitHub"></a>
        </div>
        <div class="dev-itens">
            <img class="dev-img" src="../static/img/marla.jpg" target="_blank" alt="Foto Marla Roncoli">
            <p>Marla Roncoli Cabral</p>
            <a href="https://www.linkedin.com/in/marla-cabral-031428124/"target="_blank"><img src="../static/img/linkedim.png" alt="Linkedin"></a>
            <a href="https://github.com/marlacabral"><img src="../static/img/GitHub.jpg" alt="GitHub"></a>
        </div>
        <div class="dev-itens">
            <img class="dev-img" src="../static/img/wendeel.png" target="_blank" alt="Foto wendeel Lima">
            <p>Patrick Wendeel Ribeiro de Lima</p>
            <a href="https://www.linkedin.com/in/wendeellima/"target="_blank"><img src="../static/img/linkedim.png" alt="Linkedin"></a>
            <a href="https://github.com/wendeel-lima"><img src="../static/img/GitHub.jpg" alt="GitHub"></a>
        </div>
    </main>  

</body>
</html>