<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sobre</title>
</head>
<body>
    <footer class="rodape">        
        <div class="rodape-itens">
            <p>Dara Fontoura da Silva</p>
            <a href="https://www.linkedin.com/in/dara-fontoura-da-silva-98917b1a6/" target="_blank"><img src="../static/img/linkedim.png" width="3%" alt="Linkedin"></a>
            <a href="https://github.com/mdar4"><img src="../static/img/GitHub.jpg" width="3%" alt="GitHub"></a>
        </div>
        <div class="rodape-itens">
            <p>Lucas Soares Simão</p>
            <a href="https://www.linkedin.com/in/lssimao/" target="_blank"><img src="../static/img/linkedim.png" width="3%" alt="Linkedin"></a>
            <a href="https://github.com/lucasbanksys"><img src="../static/img/GitHub.jpg" width="3%" alt="GitHub"></a>
        </div>
        <div class="rodape-itens">
            <p>Marla Roncoli Cabral</p>
            <a href="https://www.linkedin.com/in/marla-cabral-031428124/"target="_blank"><img src="../static/img/linkedim.png" width="3%" alt="Linkedin"></a>
            <a href="https://github.com/marlacabral"><img src="../static/img/GitHub.jpg" width="3%" alt="GitHub"></a>
        </div>
        <div class="rodape-itens">
            <p>Patrick Wendeel Ribeiro de Lima</p>
            <a href="https://www.linkedin.com/in/wendeellima/"target="_blank"><img src="../static/img/linkedim.png" width="3%" alt="Linkedin"></a>
            <a href="https://github.com/wendeel-lima"><img src="../static/img/GitHub.jpg" width="3%" alt="GitHub"></a>
        </div>
    </footer>  

</body>
</html>